body {


  background-color:lightblue;
  /*background-image: url('http://www.shunvmall.com/data/out/207/47836435-sky-blue-wallpaper.jpg');*/
}


.low-usage {
  background-color: green;
}

.medium-usage {
  background-color: black;

}

.high-usage {
  background-color: red;
}

#thermo-display, #buttons {
  background-color: grey;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: auto;
    width: 20%;
    border: 3px;
    padding: 10px;

}


h3{

  font-style: oblique;
  color: purple;
}

#current_temp {
  font-size: 20px;
}

#power_save{
  font-size: 20px;
}

#usage {
  font-size: 20px;

}
